<div class="container mt-4 mb-3">
  <div class="row">
    <h5 class="col-md-2" style="background: #EEEEEE; text-align: center;"><strong>会員情報編集</strong></h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <%= form_with model: @customer, url: customers_path, method: :patch do |f| %>
      <table class="table table-borderless">
        <tr>
          <th class="col-sm-2">氏名</th>
          <td class="col-sm-2"><%= f.text_field :last_name %></td>
          <td class="col-sm-6"><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <th class="col-sm-2">フリガナ</th>
          <td class="col-sm-2"><%= f.text_field :last_name_kana %></td>
          <td class="col-sm-6"><%= f.text_field :first_name_kana %></td>
        </tr>
        <tr>
          <th class="col-sm-2">郵便番号</th>
          <td class="col-sm-2"><%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <th class="col-sm-2">住所</th>
          <td class="col-sm-2" colspan="3"><%= f.text_field :address, size: 60 %></td>
        </tr>
        <tr>
          <th class="col-sm-2">電話番号</th>
          <td class="col-sm-2"><%= f.text_field :telephone_number %></td>
        </tr>
        <tr>
          <th class="col-sm-2">メールアドレス</th>
          <td class="col-sm-2"><%= f.email_field :email %></td>
        </tr>
        <tr>
          <td></td>
          <td class="col-sm-2"><%= f.submit "編集内容を保存", class: "btn btn-success" %></td>
          <td class="col-sm-2"><%= link_to "退会する", restore_path, class: "btn btn-danger" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>
