

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container mt-4 mb-3">
  <div class="row">
    <div class="col-md">
      <h5 class="col-md-2" style="background: #EEEEEE; text-align: center;"><strong>管理者</strong>ログイン</h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10" style="margin: auto;">
      <table class="table table-borderless">
        <tr>
          <td class="col-sm-2">メールアドレス</td>
          <td class="col-sm-4">
            <%= f.email_field :email, size: 40, autofocus: true, autocomplete: "email" %>
          </td>
        </tr>
        <tr>
          <td class="col-sm-2">パスワード</td>
          <td class="col-sm-4">
            <%= f.password_field :password, size: 40, autocomplete: "current-password" %>
          </td>
        </tr>
        <tr>
          <td class="col-sm-2"></td>
          <td class="col-sm-4">
            <div class="actions">
              <%= f.submit "　ログイン　", class: "btn btn-primary" %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<% end %>

<%= render "admin/shared/links" %>
