<div class="container mt-4 mb-3">
  <div class="row">
    <h5 class="col-md-2" style="background: #EEEEEE; text-align: center;"><strong>新規会員登録</strong></h5>
  </div>
</div>
<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <table class="table table-borderless">
          <tr>
            <th class="col-sm-2">
              名前
            </th>
            <td class="col-sm-2">
              (<%= f.label :last_name, "姓" %>)
              　<%= f.text_field :last_name %>
            </td>
            <td class="col-sm-2">
              (<%= f.label :first_name, "名" %>)
              　<%= f.text_field :first_name %>
            </td>
          </tr>
          <tr>
            <th class="col-sm-2">フリガナ</th>
            <td class="col-sm-2">
              (<%= f.label :last_name_kana, "セイ" %>)
              <%= f.text_field :last_name_kana %>
            </td>
            <td class="col-sm-2">
              (<%= f.label :first_name_kana, "メイ" %>)
              <%= f.text_field :first_name_kana %>
            </td>
          </tr>
          <tr>
            <th class="col-sm-2">メールアドレス</th>
            <td class="col-sm-2">
              　　　<%= f.email_field :email, autocomplete: "email" %>
            </td>
          </tr>
          <tr>
            <th class="col-sm-2">郵便番号(ハイフンなし)</th>
            <td class="col-sm-2">
              　　　<%= f.text_field :postal_code %>
            </td>
          </tr>
          <tr>
            <th class="col-sm-2">住所</th>
            <td class="col-sm-2">
              　　　<%= f.text_field :address, size: 40 %>
            </td>
          </tr>
          <tr>
            <th class="col-sm-2">電話番号(ハイフンなし)</th>
            <td class="col-sm-2">
              　　　<%= f.text_field :telephone_number %>
            </td>
          </tr>
          <tr>
            <th class="col-sm-2">
              <% if @minimum_password_length %>
                <em>パスワード(<%= @minimum_password_length %> 文字以上)</em>
              <% end %>
            </th>
            <td class="col-sm-2">
              　　　<%= f.password_field :password, autocomplete: "new-password" %>
            </td>
          </tr>
          <tr>
            <th class="col-sm-2">パスワード(確認用)</th>
            <td class="col-sm-2">
              　　　<%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </td>
          </tr>
          <tr>
            <td class="col-sm-1 offset-sm-1"></td>
            <td class="col-sm-1">
              　　　<%= f.submit "　　　新規登録　　　", class: "btn btn-success" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<% end %>
<div class="container mt-4 mb-2">
  <div class="row">
    <h5 class="col-md-2" style="background: #EEEEEE; text-align: center;"><strong>既に登録済みの方</strong></h5>
  </div>
  <div class="row">
    <div class="col-md-5 mt-2 mb-5">
      <%= link_to "こちら　", new_customer_session_path %>からログインください。
    </div>
  </div>
</div>
