<div class="container mt-4 mb-3">
  <div class="row">
    <h5 class="col-md-2" style="background: #EEEEEE; text-align: center;"><strong>注文履歴一覧</strong></h5>
  </div>
</div>
<div class="container-fluid" style="margin: auto">
  <div class="row">
    <div class="col-md-10 offset-md-1 mb-4">
      <table class="table table-bordered">
        <tr style="background: #EEEEEE;">
          <td>注文日</td>
          <td class="col-sm-6">配送先</td>
          <td>注文商品</td>
          <td>支払金額</td>
          <td>注文詳細</td>
        </tr>
        <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <%= order.postal_code %><br>
              <%= order.address %><br>
              <%= order.name %>
            </td>
            <td style="vertical-align: middle;">
              <% order.order_details.each do |order_detail| %>
                <%= order_detail.item.name %><br>
              <% end %>
            </td>
            <td style="vertical-align: middle; text-align: center;"><%= order.total_payment.to_s(:delimited) %>円</td>
　　　      <td style="vertical-align: middle; text-align: center;"><%= link_to "表示する", order_path(order.id), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
