<h4>商品一覧</h4>
<% @items.each do |item| %>
  <%= image_tag item.get_image %>
  <%= link_to item_path(item.id) do %>
    <%= item.name %>
  <% end %>
  ¥<%= item.with_tax_price.to_s(:delimited) %>
<% end %>

<%= paginate @items %>
