<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="border-bottom: 2px solid #000000;">
        <div class="container-fluid">
          <a class="navbar-brand">LOGO</a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav" style="margin-left: 58%;">
            <% if customer_signed_in? %>
              <li class="nav-item col-md-4">
                <%= link_to customer_path do %>
                  <p class="btn btn-outline-secondary">マイページ</p>
                <% end %>
              </li>
              <li class="nav-item col-md-4">
                <%= link_to items_path do %>
                  <p class="btn btn-outline-secondary">商品一覧</p>
                <% end %>
              </li>
              <li class="nav-item col-md-3">
                <%= link_to cart_items_path do %>
                  <p class="btn btn-outline-secondary">カート</p>
                <% end %>
              </li>
              <li class="nav-item col-md-4">
                <%= link_to destroy_customer_session_path, method: :delete do %>
                  <p class="btn btn-outline-secondary">ログアウト</p>
                <% end %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="nav-item col-md-3">
                <%= link_to admin_items_path do %>
                  <p class="btn btn-outline-secondary">商品一覧</p>
                <% end %>
              </li>
              <li class="nav-item col-md-3">
                <%= link_to admin_customers_path do %>
                  <p class="btn btn-outline-secondary">会員一覧</p>
                <% end %>
              </li>
              <li class="nav-item col-md-4">
                <%= link_to admin_orders_path do %>
                  <p class="btn btn-outline-secondary">注文履歴一覧</p>
                <% end %>
              </li>
              <li class="nav-item col-md-4">
                <%= link_to destroy_admin_session_path, method: :delete do %>
                  <p class="btn btn-outline-secondary">ログアウト</p>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item col-md-3">
                <%= link_to about_path do %>
                  <p class="btn btn-outline-secondary">About</p>
                <% end %>
              </li>
              <li class="nav-item col-md-4">
                <%= link_to items_path do %>
                  <p class="btn btn-outline-secondary">商品一覧</p>
                <% end %>
              </li>
              <li class="nav-item col-md-4">
                <%= link_to new_customer_registration_path do %>
                  <p class="btn btn-outline-secondary">新規登録</p>
                <% end %>
              </li>
              <li class="nav-item col-md-4">
                <%= link_to new_customer_session_path do %>
                  <p class="btn btn-outline-secondary">ログイン</p>
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer style="width: 100%; height: auto; bottom: 0; border-top: 2px solid #000000;">
      <p style="text-align: center">ながのCAKE</p>
    </footer>
  </body>
</html>
